# 系统文件
.DS_Store
Thumbs.db
*.swp
*.swo

# 编译产物
/build
/dist
/out
*.exe
*.obj
*.o

# 日志缓存
*.log
*.cache
.temp

# 编辑器配置
.idea/
.vscode/
*.suo
*.user
.claude/

# 环境依赖
node_modules/
venv/
env/
__pycache__/